<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__info">
				<div class="footer__info__logo">
					<a href="#"><img src="/img/logo.png" alt="logo"></a>
				</div>
				<div class="footer__info__text">
					<p>Sed ut perspiciatis, unde omnis iste natus
					error sit voluptatem accusantium doloremque
					laudantium, totam rem aperiam eaque ipsa, 
					beatae vitae dicta sunt, explicabo.</p>
				</div>
				<div class="footer__info__socials">
					<a href="#"><i class="icon-vk"></i></a>
					<a href="#"><i class="icon-facebook"></i></a>
					<a href="#"><i class="icon-twitter"></i></a>
					<a href="#"><i class="icon-inst"></i></a>
					<a href="#"><i class="icon-youtube"></i></a>
				</div>
				<div class="footer__info__copy">
					<p>© 2016 - Sentendo l'8 °. Все права защищены. Developed by <a href="#">Garnet Software</a></p>
				</div>
			</div>
			<ul class="footer__menu">
				<li><a href="#">Коллекции</a></li>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Магазин</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
			<div class="footer__instagram">
				<div class="footer__instagram__header">
					наш Инстаграм:
				</div>
				<div class="footer__instagram__img">
					<img src="/img/inst.png" alt="instagram">
				</div>
			</div>
			<div class="footer__contacts">
				<div class="footer__contacts__header">
					Контакты:
				</div>
				<a href="#" class="footer__contacts__phone">(048) 980-89-60</a>
				<a href="#" class="footer__contacts__adress">г. Одесса,<br>ул. Преображенская, 7</a>
				<a href="#" class="footer__contacts__mail">sentendo8@gmail.com</a>
				<div class="footer__contacts__schedule">
					<div class="footer__contacts__row">
						<div class="footer__contacts__row__left">
							Пн.- Пт.
						</div>
						<div class="footer__contacts__row__right">09:00 - 18:00</div>
						<div class="footer__contacts__row__left">
							Сб.
						</div>
						<div class="footer__contacts__row__right">09:00 - 15:00</div>
						<div class="footer__contacts__row__left">
							Вс.
						</div>
						<div class="footer__contacts__row__right">Выходной</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>