<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feeling Eight</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">

</head>
<body class="isHome">
	<header class="header">
		<div class="header__inner__top">
			<div class="container">
				<div class="header__top">
					<div class="header__top__lang">
						<label for="">Язык:</label>
						<select name="" id="">
							<option value="">RU</option>
						</select>
					</div>
					<div class="header__top__info">
						<a href="#" class="header__top__phone"><i class="icon-phone"></i>(048) 980-89-60</a>
						<a href="" class="header__top__mail"><i class="icon-mail"></i> sentendo8@gmail.com</a>
					</div>
					<div class="header__top__social">
						<a href="#"><i class="icon-vk"></i></a>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-inst"></i></a>
						<a href="#"><i class="icon-youtube"></i></a>
					</div>
					<div class="header__top__cart">
						<a href="#" class="header__top__cart__num"><i class="icon-lock"></i>
						<span>5</span>
						</a>
					</div>
					<div class="header__top__cabinet">
						<a href="#" class="header__top__cabinet__link"><i class="icon-man"></i>Личный кабинет</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header__inner__bottom">
			<div class="container">
				<div class="header__nav">
					<div class="header__nav__logo">
						<a href="/"><img src="/img/logo.png" alt="logo"></a>
					</div>
					<nav class="header__nav__wrapper">
						<ul class="header__nav__menu">
							<li>
								<a href="#">Коллекции</a>
								<ul class="header__nav__submenu">
									<li>
										<a href="#">Мужчинам</a>
										<ul>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Женщинам</a>
										<ul>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
											<li><a href="#">весна-лето 2016 spring-summer 2016</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#">О нас</a></li>
							<li><a href="#">Блог</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Магазин</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>